/* Réinitialisation de base */

body .app {
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9f9;
}

.app {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}


.listing {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 100px;
  border-bottom: 1px solid #eee;
  @media screen and (max-width: 1000px){
    padding: 20px 20px;
  }
}

.listing-images {
  flex: 1;
}

.listing-images img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

